
body{
    background-image: url('../images/dark-honeycomb.png');
}
.row{
    color:black;
}
.main-left, .main-right{
    height:750px;
    border:2pt solid grey;
    margin-top:30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.main-right{
    background-image: url('../images/dust_scratches.png');
}

.main-left{
    background-color: lightgrey;
    padding:10px;
}

.title-head{
    font-family:"Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    background-image: url('../images/dust_scratches.png');
    border:2pt solid grey;
    font-size: 50pt;
    text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;
}

.lbl-intro, .lbl-win, .lbl-loss, .lbl-word, .lbl-guess-tot, .lbl-guess, .lbl-status, .lbl-hint{
    font-weight: bold;
}

.lbl-intro {
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    font-size: 15pt;
}

.win, .loss, .word, .total-guess, .guesses {
    font-size: 15pt;
    
}

.lbl-status {
        font-weight: bold;
        font-size: 18pt;
        text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

#txt-word{
    font-size: 25pt;
}

#txt-guess-hint{
    
}