
body{
    background-image: url('../images/dark-honeycomb.png');
}
.row{
    color:black;
}
.main-left, .main-right{
    height:750px;
    border:2pt solid grey;
    margin-top:30px;
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
}
.main-right{
    background-image: url('../images/dust_scratches.png');
}

.main-left{
    background-color: lightgrey;
    padding:10px;
}

.title-head{
    color:light;
    font-family: 'Righteous', cursive;
    background-image: url('../images/Baseball.jpg');
    border:2pt solid grey;
    font-size: 50pt;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.lbl-intro, .lbl-win, .lbl-loss, .lbl-word, .lbl-guess-tot, .lbl-guess, .lbl-status, .lbl-hint{
    font-weight: bold;
}

.lbl-intro {
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    font-size: 13pt;
}

.win, .loss, .word, .total-guess, .guesses {
    font-size: 15pt;
    
}

.lbl-status {
        font-weight: bold;
        font-size: 16pt;
        text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

.video-win{
    height:400px;
    width:100%; 
}

#txt-word{
    font-size: 25pt;
}

#txt-guess-hint{
    visibility: hidden;
    height:10px;
}

#vid-opt{
    text-align: center;
}

#hint-content, #hint-label{
    margin-left: 20px;
    font-weight: bold;
    font-size: 18pt;
}